<div class="bg-white overflow-hidden sm:rounded-lg sm:shadow mb-8">
    <% unless @measurements_list.empty? %>
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
            <h3 class="px-3 text-lg leading-6 font-bold text-gray-900">
            Показатели загрязнения воздуха метеостанции <%= @station.name %> на текущий момент (<%= Time.now.strftime("%d/%m/%Y %H:%M") %>)
            </h3>
            <div class="p-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
                <!--Card 1-->
                <div class="rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <div class="text-lg mb-2">Метеоданные</div>
                        <% @measurements_list["Метеоданные"]&.each do |item| %>
                            <% unless item.now_val == nil %>
                                <p class="<%= item.color %> text-base">
                                    <%= "#{item.dimension.name} = #{item.now_val.round(2)} #{item.dimension.unit}" %>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <!--Card 2-->
                <div class="rounded overflow-hidden shadow-lg row-span-2">
                <div class="px-6 py-4">
                    <div class="text-lg mb-2">Химические вещества</div>
                        <% @measurements_list["Химические вещества"]&.each do |item| %>
                            <% unless item.now_val == nil %>
                                <p class="<%= item.color %> text-base">
                                    <%= "#{item.dimension.name} = #{item.now_val.round(2)} #{item.dimension.unit}" %>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <!--Card 3-->
                <div class="rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <div class="text-lg mb-2">Пыль</div>
                        <% @measurements_list["Пыль"]&.each do |item| %>
                            <% unless item.now_val == nil %>
                                <p class="<%= item.color %> text-base relative flex flex-col items-left group">
                                    <%= "#{item.dimension.name} = #{item.now_val.round(2)} #{item.dimension.unit}" %>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <p class="px-3 text-lg leading-6 text-green-600">
                <i class="fas fa-circle"></i> - нормальное значение
            </p>
            <p class="px-3 text-lg leading-6 text-red-500">
                <i class="fas fa-circle"></i> - превышение нормы
            </p>
            <p class="px-3 text-lg leading-6 text-gray-700">
                <i class="fas fa-circle"></i> - показатель не нормируется
            </p>	
        </div>
    <% else %>
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
            <h3 class="px-3 text-lg leading-6 font-bold text-red-900">
            Показатели метеостанции не найдены
            </h3>
        </div>
    <% end %>
</div>