<div class="max-w-none mx-auto">
    <form class="space-y-8 divide-y divide-gray-200 mb-3">
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="station_id" class="block text-sm font-medium text-gray-700">
              Метеостанция
            </label>
            <div class="mt-1">
              <%= select_tag :station_id, options_for_select(@stations_list, selected: @station.influx_id), class: "h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
            </div>
          </div>

          <div class="">
            <label for="last_name" class="block text-sm font-medium text-gray-700">
                &nbsp; 
            </label>
            <div class="mt-1">
                <button type="submit" class="px-3 inline-flex items-center h-10 px-5 text-white border border-transparent shadow-sm text-sm font-medium transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
                    <i class="far fa-eye pr-3"></i> Показать
                </button>
            </div>
          </div>
        </div>
    </form>
    <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow mb-8">
        <% unless @measurements_list.empty? %>
            <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                <h3 class="px-3 text-lg leading-6 font-bold text-gray-900">
                Показатели загрязнения воздуха метеостанции <%= @station.name %> на текущий момент (<%= Time.now.strftime("%d/%m/%Y %H:%M") %>)
                </h3>
                <div class="p-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
                    <!--Card 1-->
                    <div class="rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="text-lg mb-2">Метеоданные</div>
                            <% @measurements_list["Метеоданные"]&.each do |item| %>
                                <% unless item.now_val == nil %>
                                    <p class="<%= item.color %> text-base">
                                        <%= "#{item.dimension.name} - #{item.now_val.round(2)} #{item.dimension.unit}" %>
                                    </p>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                    <!--Card 2-->
                    <div class="rounded overflow-hidden shadow-lg row-span-2">
                    <div class="px-6 py-4">
                        <div class="text-lg mb-2">Химические вещества</div>
                            <% @measurements_list["Химические вещества"]&.each do |item| %>
                                <% unless item.now_val == nil %>
                                    <p class="<%= item.color %> text-base">
                                        <%= "#{item.dimension.name} - #{item.now_val.round(2)} #{item.dimension.unit}" %>
                                    </p>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                    <!--Card 3-->
                    <div class="rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="text-lg mb-2">Пыль</div>
                            <% @measurements_list["Пыль"]&.each do |item| %>
                                <% unless item.now_val == nil %>
                                    <p class="<%= item.color %> text-base">
                                        <%= "#{item.dimension.name} - #{item.now_val.round(2)} #{item.dimension.unit}" %>
                                    </p>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <p class="px-3 text-lg leading-6 <%= COLORS[:safe] %>">
                    <i class="fas fa-circle"></i> - нормальное значение
                </p>
                <p class="px-3 text-lg leading-6 <%= COLORS[:danger] %>">
                    <i class="fas fa-circle"></i> - превышение нормы
                </p>
                <p class="px-3 text-lg leading-6" <%= COLORS[:neutral] %>>
                    <i class="fas fa-circle"></i> - показатель не нормируется
                </p>
            </div>
        <% else %>
            <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                <h3 class="px-3 text-lg leading-6 font-bold text-red-900">
                Показатели метеостанции не найдены
                </h3>
            </div>
        <% end %>
    </div>
    <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
            <% @measurements_list&.each do |key, item| %>
                <p><%= key %></p>
                <% item.each do |mes| %>
                    <p><%= mes.dimension.name %></p>
                    <p><%= line_chart mes.range_val %></p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>