<div class="max-w-none mx-auto">
    <form class="space-y-8 divide-y divide-gray-200 mb-3">
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="station_id" class="block text-sm font-medium text-gray-700">
              Метеостанция
            </label>
            <div class="mt-1">
              <%= select_tag :station_id, options_for_select(@stations_list, selected: @station.influx_id), class: "h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
            </div>
          </div>

          <div class="">
            <label for="last_name" class="block text-sm font-medium text-gray-700">
                &nbsp; 
            </label>
            <div class="mt-1">
                <button type="submit" class="px-3 inline-flex items-center h-10 px-5 text-white border border-transparent shadow-sm text-sm font-medium transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
                    <i class="far fa-eye pr-3"></i> Показать
                </button>
            </div>
          </div>
        </div>
    </form>
    <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
        <% unless @data.empty? %>
            <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                <h3 class="px-3 text-lg leading-6 font-bold text-gray-900">
                Показатели загрязнения воздуха метеостанции <%= @station.name %> на текущий момент (<%= Time.now.strftime("%d/%m/%Y %H:%M") %>)
                </h3>
                <div class="p-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
                    <!--Card 1-->
                    <div class="rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="text-lg mb-2">Метеоданные</div>
                            <p class="text-gray-700 text-base">
                                Температура (t) - <%= @data[:t] %> C
                            </p>
                            <p class="text-gray-700 text-base">
                                Относительная влажность (RH) - <%= @data[:rh] %> %
                            </p>
                            <p class="text-gray-700 text-base">
                                Давление (p) - <%= @data[:p] %> Па.
                            </p>
                        </div>
                    </div>
                    <!--Card 2-->
                    <div class="rounded overflow-hidden shadow-lg row-span-2">
                    <div class="px-6 py-4">
                        <div class="text-lg mb-2">Химические вещества</div>
                            <p class="<%= @data[:no2]>WEATHER_PARAMS[:no2][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Диоксид азота (NO2) - <%= @data[:no2] %> ppm
                            </p>
                            <p class="<%= @data[:co]>WEATHER_PARAMS[:co][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Угарный газ (CO) - <%= @data[:co] %> ppm
                            </p>
                            <p class="<%= @data[:so2]>WEATHER_PARAMS[:so2][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Диоксид серы (SO2) - <%= @data[:so2] %> ppm
                            </p>
                            <p class="<%= @data[:o3]>WEATHER_PARAMS[:o3][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Озон (O3) - <%= @data[:o3] %> ppm
                            </p>
                            <p class="<%= @data[:ch2o]>WEATHER_PARAMS[:ch2o][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Формальдегид (CH2O) - <%= @data[:ch2o] %> мг/м3
                            </p>
                            <p class="text-gray-700 text-base">
                                Углекислый газ (CO2) - <%= @data[:co2] %> ppm
                            </p>
                        </div>
                    </div>
                    <!--Card 3-->
                    <div class="rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="text-lg mb-2">Пыль</div>
                            <p class="text-gray-700 text-base">
                                Фракция PM1 - <%= @data[:pm1] %> мкг/м3
                            </p>
                            <p class="<%= @data[:pm25]>WEATHER_PARAMS[:pm25][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Фракция PM2.5 - <%= @data[:pm25] %> мкг/м3
                            </p>
                            <p class="<%= @data[:pm10]>WEATHER_PARAMS[:pm10][:margin] ? 'text-red-500' : 'text-green-600' %> text-base">
                                Фракция PM10 - <%= @data[:pm10] %> мкг/м3
                            </p>                                                        
                        </div>
                    </div>
                </div>
                <p class="px-3 text-lg leading-6 text-green-600">
                    <i class="fas fa-circle"></i> - нормальное значение
                </p>
                <p class="px-3 text-lg leading-6 text-red-500">
                    <i class="fas fa-circle"></i> - превышение нормы
                </p>
                <p class="px-3 text-lg leading-6">
                    <i class="fas fa-circle"></i> - показатель не нормируется
                </p>
            </div>
        <% else %>
            <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                <h3 class="px-3 text-lg leading-6 font-bold text-red-900">
                Показатели метеостанции не найдены
                </h3>
            </div>
        <% end %>
    </div>
</div>