<div class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="max-w-none mx-auto">
            <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
                <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                    <h3 class="px-3 text-lg leading-6 font-bold text-gray-900">
                    Показания на текущий момент (<%= Time.now.strftime("%d/%m/%Y %H:%M") %>)
                    </h3>
                    <div class="p-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
                        <!--Card 1-->
                        <div class="rounded overflow-hidden shadow-lg">
                        <div class="px-6 py-4">
                            <div class="text-lg mb-2">Метеоданные</div>
                                <p class="text-gray-700 text-base">
                                    Температура (t) - <%= @data[:t] %> C
                                </p>
                                <p class="text-gray-700 text-base">
                                    Относительная влажность (RH) - <%= @data[:rh] %> %
                                </p>
                                <p class="text-gray-700 text-base">
                                    Давление (p) - <%= @data[:p] %> мм. рт. ст.
                                </p>
                            </div>
                        </div>
                        <!--Card 2-->
                        <div class="rounded overflow-hidden shadow-lg row-span-2">
                        <div class="px-6 py-4">
                            <div class="text-lg mb-2">Химические вещества</div>
                                <p class="text-gray-700 text-base">
                                    Диоксид азота (NO2) - <%= @data[:no2] %> мкг/м3
                                </p>
                                <p class="text-gray-700 text-base">
                                    Угарный газ (CO) - <%= @data[:co] %> мкг/м3
                                </p>
                                <p class="text-gray-700 text-base">
                                    Диоксид серы (SO2) - <%= @data[:so2] %> мкг/м3
                                </p>
                                <p class="text-gray-700 text-base">
                                    Озон (O3) - <%= @data[:o3] %> мкг/м3
                                </p>
                                <p class="text-gray-700 text-base">
                                    Углекислый газ (CO2) - <%= @data[:co2] %> ppm
                                </p>
                                <p class="text-gray-700 text-base">
                                    Формальдегид (CH2O) - <%= @data[:ch2o] %> мкг/м3
                                </p>
                            </div>
                        </div>
                        <!--Card 3-->
                        <div class="rounded overflow-hidden shadow-lg">
                        <div class="px-6 py-4">
                            <div class="text-lg mb-2">Пыль</div>
                                <p class="text-gray-700 text-base">
                                    Фракция PM1 - <%= @data[:pm1] %> мкг/м3
                                </p>
                                <p class="text-gray-700 text-base">
                                    Фракция PM2.5 - <%= @data[:pm25] %> мкг/м3
                                </p>
                                <p class="text-gray-700 text-base">
                                    Фракция PM10 - <%= @data[:pm10] %> мкг/м3
                                </p>                                                        
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
